[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pgcli = "*"
pyspark = {extras = ["sql"], version = "*"}
numpy = "*"
pandas = "*"
jupyterlab = "*"
sqlalchemy = "*"
psycopg2 = "*"
tqdm = "*"
prefect = "*"
prefect-sqlalchemy = "*"
protobuf = "*"
pyarrow = "*"
pandas-gbq = "*"
psycopg2-binary = "*"
prefect-gcp = {extras = ["cloud_storage"], version = "*"}
prefect-github = "*"
black = "*"

[dev-packages]
jupyterlab = "*"
black = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.15"

[pipenv]
allow_prereleases = true
